{
	https_port {$HTTPS_PORT}
}

https://{$HOST}:{$HTTPS_PORT} {
	log {
		output stdout
		level debug
	}

	tls internal

	handle_path /ai-runner/* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		reverse_proxy http://byoc-stream-runner:8000
	}

	handle_path /orchestrator/* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		reverse_proxy https://byoc-stream-orchestrator:9995 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	handle /admin/* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		reverse_proxy http://byoc-stream-gateway-admin:3001
	}

	handle /workflows* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, PUT, DELETE, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		reverse_proxy http://byoc-stream-comfy-api:8787
	}

	handle_path /mediamtx/* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		#reverse_proxy http://byoc-{$CAPABILITY_NAME}-mediamtx:8890
		reverse_proxy http://byoc-stream-mediamtx:8890
	}

	handle_path /gateway/ai/* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		reverse_proxy https://dev.eliteencoder.net:9995 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	handle_path /gateway/* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		reverse_proxy http://byoc-stream-gateway:5937
	}

	handle_path /kafka/events/* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		reverse_proxy http://byoc-stream-kafka-sse-api:7114
	}
	handle_path /kafka/ui/* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		reverse_proxy http://byoc-stream-kafka-ui:8080
	}
	handle {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, HEAD, POST, OPTIONS"
			Access-Control-Allow-Headers *
		}

		@options method OPTIONS
		respond @options 204

		root * /var/www/html/app
		try_files {path} /index.html
		file_server
	}
}
